language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - nightly

env:
  - SYMFONY_VERSION=2.6.*

matrix:
  include:
    - php: 5.3.3
      env: SYMFONY_VERSION=2.3.* COMPOSER_FLAGS="--prefer-lowest"
    - php: 5.6
      env: SYMFONY_VERSION=2.3.*
    - php: 5.6
      env: SYMFONY_VERSION=2.5.*
    - php: 5.6
      env: SYMFONY_VERSION=2.7.*@dev
  allow_failures:
    - env: SYMFONY_VERSION=2.7.*@dev
    - php: nightly

before_install:
  - composer self-update

install:
  - composer require symfony/framework-bundle:${SYMFONY_VERSION} --prefer-source

script:
  - make test