language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

matrix:
  allow_failures:
    - php: hhvm
    - env: SYMFONY_VERSION=dev-master

env:
  - SYMFONY_VERSION=2.2.*
  - SYMFONY_VERSION=2.3.*
  - SYMFONY_VERSION=2.4.*
  - SYMFONY_VERSION=2.5.*
  - SYMFONY_VERSION=dev-master

before_install:
  - composer self-update    

install:
  - composer require symfony/framework-bundle:${SYMFONY_VERSION} --prefer-source

script:
  - make test

